<!DOCTYPE html>
<html>
<head>
	{{ template "head.html" }}
</head>

<body>
	<!-- Navigation Bar -->
	{{ template "navbar.html" }}

	<!-- Heading -->
	<div class="container">
			<h1><span class="fas fa-cubes" aria-hidden="true"></span>Climate Find Tutorial</h1>
            <p>Click "Take Survey" when done watching video
                <a class="btn btn-primary" href="/survey" role="button">Take Survey</a>
            </p>    
	</div>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/umPioda3chk"></iframe>
    </div>

</body>


<!-- Script files -->
</html>






